.player {
  width: 300px;
  display: flex;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  span {
    font-size: 24px;
    margin-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  background-color: lightgray;

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-aktiv{
  background-color: orange !important;
}

