<app-player
(click)="editPlayer(i)"
  *ngFor="let player of game.players; let i = index"
  [ngStyle]="{ 'top.px': 30 + i * 70 }"
  [playerAktiv]="i == game.currentPlayer"
  [name]="player"
  [image]="game.player_images[i]"
  class="player-position hide-mobile"
></app-player>

<div  class="scroll-container hide-desktop">
  <app-mobile-player
  (click)="editPlayer(i)"
    *ngFor="let player of game.players; let i = index"
    [playerAktiv]="i == game.currentPlayer"
    [name]="player"
    [image]="game.player_images[i]"
  ></app-mobile-player>
</div>

<div class="field">
  <div class="card-stack">
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let c of [0, 1, 2, 3]; let i = index"
      src="assets/img/cards/card_cover.png"
      alt=""
    />

    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="assets/img/cards/card_cover.png"
      alt=""
    />

    <img
      class="played-card"
      *ngFor="let card of game.playedCards"
      src="assets/img/cards/{{ card }}.png"
      alt=""
    />

    <img
      *ngIf="game.pickCardAnimation"
      (click)="takeCard()"
      class="pick-card"
      style="right: 25px"
      src="assets/img/cards/{{ game.currentCard }}.png"
      alt=""
    />
  </div>
</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button (click)="openDialog()" mat-fab class="btn-add">
  <mat-icon>add</mat-icon>
</button>
